*{
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding: 0;
}
#mainblock article{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex-direction: row;
}
#mainblock article nav{
    display: flex;
    flex-direction: column;
    width: 600px;

}
#mainblock article main div{
    background-image: url("./../../../../../Downloads/3.jpg");
}
#mainblock div :nth-child(1){
    height: 200px;
    width: 400px;
    position: absolute;
    top: 50px;
    right: 50px;
}
#mainblock div :nth-child(2){
    height: 200px;
    width: 400px;
    position: absolute;
    top: 200px;
    right: 200px;
}
#mainblock div{
    position: relative;
}